<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="/images/logo-png.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Lojinha Ethereum
  </a>
</nav>

<div class="main d-flex flex-wrap justify-content-center">
{{#each itens}}
<div class="div-card">
      <div class="card item">
        <img class="card-img-top image-item" src={{this.image}}>
        <div class="card-body">
          <p>
            {{this.title}}
          <div class="d-flex flex-row price-body  ">
            <div class="mr-1"><img class="icon" src="/images/et-icon.png" alt=""></div>
            <span>
              {{this.price}}
            <span>.00</span>
            </span>
            <div class="ml-2"> <span>ETH</span></div>
            
          </div>
          <div class="d-flex flex-row mt-3 justify-content-end"><button onclick="pagar({{this.price}} ,loja)" class="btn btn-dark">
              Comprar
          </button></div>
        </div>
      </div>
    </div>
{{/each}}
 


</div>