<div class="d-flex flex-row">


 <div class="main" id="main">
      <div class="card item">
        <img class="card-img-top image-item" src="/images/headset.jpg">
        <div class="card-body">
          <p><script type="text/javascript">
            document.write(itens[0]['title'])
          </script></p>
          <div class="d-flex flex-row price-body">
            <div class="mr-1"><img class="icon" src="/images/ethereum-black-icon-115527739721zveca57ji.png" alt=""></div>
            <span><script type="text/javascript">
              document.write(itens[0]['price'])
            </script><span>.00</span>
            </span>
            <div class="ml-2"> <span>ETH</span></div>
            
          </div>
          <div class="d-flex flex-row mt-3 justify-content-end"><button onclick="pagar(itens[0]['price'] ,lojas[0])" class="btn btn-dark">
              testando
          </button></div>
        </div>
      </div>
    </div>


</div>